<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @submission.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @submission.long %>
</p>

<p>
  <strong>Image:</strong>
  <%= @submission.image %>
</p>

<p>
  <strong>Category:</strong>
  <%= @submission.category %>
</p>

<p>
  <strong>Time Submitted:</strong>
  <%= @submission.time_submitted %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
